@charset "utf-8";
:root {
	--cfs: .8rem;
	--cff: "Cascadia Code", "Consolas", "Sans Mono", "Courier", "monospace", "나눔바른고딕", "굴림";
}
code { /* 인라인 코드 */
    padding: 0.25rem;
    background-color: #F1F1F1;
	border: 1px solid #CCC;
    border-radius: 5px;
    font-family: var(--cff);
    font-size: var(--cfs);
	line-height:30px;
}
@media (prefers-color-scheme: dark) { /* 다크 모드 */
	code {
		border: 1px solid #666;
		color: #DDD;
		background-color: #333;
	}
}
#code { /* 코드 블럭 */
	padding: .3em .3em;
	margin: .3em 0 -1em;
	background-color: #F1F1F1;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: var(--cfs);
	line-height: 20px;
	padding-left: 8px;
	font-family: var(--cff);
}
@media (prefers-color-scheme: dark) { /* 다크 모드 */
	#code {
		border: 1px solid #666;
		color: #DDD;
		background-color: #333;
	}
}