@charset "utf-8";
/* AS2 (빨간색) */
.as2box {
	width: 400px;
	height: 300px;
	border: 1px solid;
	border-radius: 20px;
	border-color: #800;
	background-color: #FFB0B0;
	margin: 0 10px 10px 10px;
}
.as2box li::marker {
	color: #500;
}
.as2title {
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	color: white;
	background-color: #A00;
	border-radius: 20px 20px 0 0;
	text-align: center;
	padding-top: 10px;
}
/* JS (초록색) */
.jsbox {
	width: 400px;
	height: 300px;
	border: 1px solid;
	border-radius: 20px;
	border-color: #080;
	background-color: #B0FFB0;
	margin: 0 10px 10px 10px;
}
.jstitle {
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	color: white;
	background-color: #0A0;
	border-radius: 20px 20px 0 0;
	text-align: center;
	padding-top: 10px;
}
jsbox li::marker {
	color: #004700;
}
/* C (파란색) */
.cbox {
	width: 400px;
	height: 300px;
	border: 1px solid;
	border-radius: 20px;
	border-color: #008;
	background-color: #B0B0FF;
	margin: 0 10px 10px 10px;
}
.ctitle {
	height: 40px;
	font-size: 24px;
	font-weight: bold;
	color: white;
	background-color: #00A;
	border-radius: 20px 20px 0 0;
	text-align: center;
	padding-top: 10px;
}
.cbox li::marker {
	color: #000077;
}

.zuzunza {
	color: white;
	background: linear-gradient(180deg, #ff615e 0%, #ffa335 100%);
	border: 1px solid #D40;
	padding: 20px 25px 20px 25px;
	text-align: center;
	font-size: larger;
	margin-top: 20px;
	border-radius: 15px;
}
.zuzunza a:link, .zuzunza a:visited {
	color: white;
	text-decoration: none;
}

/* 가운데 정렬 */
@media (max-width: 1299px) {
	.center0 {
		display: flex;
		justify-content: center;
	}
}
@media (min-width: 1300px) {
	.center {
		display: flex;
		justify-content: center;
	}
}

li {
	margin-left: 1.5em;
	list-style-position: inside;
	text-indent: -1.5em;
}

/* 다크 모드 */
@media (prefers-color-scheme: dark) {
	.as2box li::marker, .as2title {
		color: #FCC;
	}
	.jsbox li::marker, .jstitle {
		color: #CFC;
	}
	.cbox li::marker, .ctitle {
		color: #CCF
	}
	.as2box {
		border-color: #C22;
		background-color: #522;
		color: black;
	}
	.jsbox {
		border-color: #2C2;
		background-color: #252;
		color: black;
	}
	.cbox {
		border-color: #22C;
		background-color: #225;
		color: black;
	}

	.zuzunza {
		background: linear-gradient(180deg, #a10 0%, #a60 100%);
		border-color: #ff615e;
	}
}