@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
.font1 {
	font-family: 'Gowun Batang', serif;
}

.Container {
	padding-top: 20px;
	padding-bottom: 10px;
	--side-padding: 0;
	padding: 20px var(--side-padding) 10px var(--side-padding);
}
@media (min-width: 960px) {
	.Container {
		--side-padding: 100px;
	}
}
@media (min-width: 1280px) {
	.Container {
		--side-padding: 200px;
	}
}