@charset "utf-8";
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.font1 {
	font-family: 'BookkMyungjo-Bd', serif;
}

.Container {
	padding-top: 20px;
	padding-bottom: 10px;
	--side-padding: 0;
	padding: 20px var(--side-padding) 10px var(--side-padding);
}
@media (min-width: 960px) {
	.Container {
		--side-padding: 100px;
	}
}
@media (min-width: 1280px) {
	.Container {
		--side-padding: 200px;
	}
}